@import (inline) "cljsjs/handsontable/development/handsontable.full.css";

@background-color: #1B1B1B;
@plain-text-color: #CCC;

body {
    font-family: monospace;
    color: @plain-text-color;
    background-color: @background-color;
    overflow: hidden;
}

td#spreadsheet {
    width: 50%;
}

td#editor {
    width: 50%;
}

#sheet {
    width: 100%;
}

.ht_master tr td, .ht_master tr th {
    background-color: @background-color;
}